*{
  color:#EEEEEE;
  font-family:"Barlow",sans-serif;
  font-weight:200;
}
.main-app-bg{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222831;
}

.card{
  height:300px;
  width:300px;
  background-color: #31363F;
}

.main-heading{
  color:#EEEEEE;
}